body {
    font-family: "Courier New", "Courier", "Lucida Sans Typewriter", "Lucida Typewriter", "monospace";
    font-size: large;
    line-height: normal;
    color: #bfbfbf;
    background-color: #1e1e1e;
    font-weight: 500;
    max-width: 40rem;
    padding: 1rem;
    margin: 0 auto;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-bottom: 1rem;
}

hr {
    margin-bottom: 1rem;
}

.flex-container {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

input {
    background-color: #1e1e1e;
    color: #bfbfbf;
    border: none;
    outline: none;
    font-family: "Courier New", "Courier", "Lucida Sans Typewriter", "Lucida Typewriter", "monospace";
    font-size: large;
    flex-grow: 1;
    padding: 0;
}

button {
    flex-grow: 1;
    min-width: 140px;
    cursor: pointer;
    border: none;
    padding: 0.5rem;
    font-family: "Courier New", "Courier", "Lucida Sans Typewriter", "Lucida Typewriter", "monospace";
    font-size: large;
    font-weight: bold;
    background-color: #2e2e2e;
    color: #bfbfbf;
    transition-duration: 0.2s;
}

button:hover {
    background-color: #4e4e4e;
}

#button-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 1rem 0;
    gap: 1rem;
}

#spinner {
    width: 3rem;
    height: 3rem;
    margin: auto;
    margin-top: 1rem;
    border-radius: 50%;
    border: solid #1e1e1e;
    border-top: 0.3rem solid #3498db;
    animation: spin 1.2s linear infinite;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

#msg {
    animation: flash 0.75s alternate infinite;
}

@keyframes flash {
    from { 
        color: #bfbfbf; 
        text-shadow: none;
    }
    to { 
        color: hotpink;
        text-shadow: 0px 0px 20px hotpink;
    }
}